

@media only screen and (min-width: 38rem) {

    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: var(--accent-color);
        color: black;
    }

    nav {
        grid-template-rows: 1fr;
    }
}


#headerTitle {
    font-size: 2rem;
}

footer {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; /* Ensures all sections are vertically centered */
    text-align: left; /* Default text alignment */
}

#address {
    grid-column: 1 / 2;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-content {
    max-width: 500px;
}

#finder-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#interested-games {
    margin: 1rem 1rem 1rem 0;
}

#finder {
    margin: 1rem 0 1rem 1rem ;
}

main.about-me .centered-div {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 800px; /* Adjust width as needed */
}





