

.discover {
    border-radius: .5rem;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "name"
    "photo"
    "address"
    "description"
    "learn";
}

div .discover h2 {
    grid-area: name;
}

div .discover img {
    grid-area: photo;
}

div .discover p {
    grid-area: description;
    padding: 1rem;
}

div .discover p:nth-of-type(2) {
    grid-area: address;
}

div .discover a {
    grid-area: learn;
}
/* button styling for button on discover page */
.btn {
    display: inline-block; /* Ensure it behaves like a button */
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 10px; /* Ensure spacing */
}

.btn:hover {
    background-color: var(--accent-color);
    color: black;
}