.discover {
    grid-template-areas: 
    "photo name"
    "photo address"
    "photo description"
    "photo learn";
}

.discover img {
    width: 300px;
}

.photo:hover {
    border: 3px dotted black;
}