
* {
    font-family: var(--title-font);
    font-weight: 500;
}

:root {
    --primary-color: #596235;
    --second-color:  #2F3020;
    --accent-color: #e98e72;
    --background-color: #CDCBD6;
    --light-font-color: white;  
    --dark-font-color: black;

    --title-font: 'Open Sans';
    --main-font: 'Open Sans';
    
}

header {
    display: grid;
    grid-template-columns: 120px auto auto 44px;
    align-items:end;
    background-color: var(--primary-color);
    color: white;

}

header img {
    grid-column: 1 / 2;
    padding: 1rem;
}

#headerTitle h1 {
    font-size: 2.4rem;
    padding: 0;
    margin: 0;
}

#headerTitle p {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

#headerTitle {
    display: flexbox;
    align-items: center;
    align-content: center;
    align-self: center;
    grid-column: 2 / 3;
    padding: 1rem;
}

@media (max-width: 480px) {
    #headerTitle h1 {
        font-size: 1.6rem;
    }

    #headerTitle p {
        font-size: 0.9rem;
    }
}

/* navigation stuff */

nav {
    grid-column: 3 / 4;
    background-color: var(--second-color);
}

#myButton::before {
    content: "\2630";
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: white;
    text-decoration: none;
}

li.current-menu-item a {
    background-color: var(--primary-color);
    color: white;
}

ul.menuLinks {
    list-style-type: none;
}

/* CSS for the open class */
#myButton.open::before {
    content: "x";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {overflow: hidden;}

nav.open {
    grid-template-rows: 1fr;
}

footer {
    padding: 40px;
    background-color: var(--primary-color) ;
    color: white;
}