.title {
    font-size: 1.5rem; /* Set a fixed size for larger screens */
}

.title_img {
    width: 100px; /* Fixed width for logo */
}

.content {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem; /* addes space between rows */
}

.content1 {
    display: grid;
    grid-row: 1 / 2;
    grid-template-columns: 60% 40%;
    gap: 1rem; /* Optional: Adds space between the columns */
}

.course {
    grid-column: 1 / 2;
}

.city {
    grid-column: 2 / 3;
}

.content2 {
    grid-row: 2 / 3;
}

