.title {
    font-size: 1.5rem; /* Set a fixed size for larger screens */
}

.title_img {
    width: 100px; /* Fixed width for logo */
}

.content {
    display: grid;
    grid-template-columns: 1fr; /* One column layout for stacking content1 and content2 vertically */
    gap: 1rem;
}

.content1 {
    display: flex; /* Use Flexbox to arrange course and city side by side */
    gap: 1rem; /* Add space between the course and city sections */
    overflow: hidden; /* Ensure content doesn't overflow */
}

.course {
    flex: 1; /* Allow course to take up equal space */
}

.city {
    flex: 1; /* Allow city to take up equal space */
}

.content2 {
    grid-column: 1; /* Content2 takes the entire row */
}

@media (min-width: 768px) {
    

    #course-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three equal columns */
        gap: 10px; /* Space between buttons */
        justify-content: center; /* Center the grid */
    }

    #course-list button {
        width: 100%; /* Ensures buttons take full width of grid column */
    }
}
